<p>Olá <%= @resource.email %>!</p>

<p>Recebemos seu pedido para alterar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Mudar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso não tenha feito esse pedido, por favor ignore esse email.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>
