<div>
	<h1>
		<strong>Minha Conta:</strong>
	</h1>
	<h3>
		<strong>Agência:</strong> <%= @account.agency %> <br>
		<strong>Conta:</strong> <%= @account.bank_account %> <br>
	</h3>
</div>

<section>
	<strong class="section-header">Saldo </strong>
	<h2>
  		<%= number_to_currency(@account.money) %>
	</h2>
</section>